/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--font-weight-text);
  background-image: var(--background-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-top: 100px;
}

.content-section {
  inline-size: var(--content-width);
  max-inline-size: 100%;
  margin: 0 auto;
  padding-inline: 2px;
  box-sizing: border-box;
}

main {
  margin-block-start: 97px;
}

.header {
  background-color: var(--Themes-background, #ffffff);
  border: 2px solid var(--accent-color, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 130px 122px;
  gap: 20px;
  margin-block-end: 50px;
}

.default__block {
  inline-size: var(--block-wdh);
  margin: 0 auto;
}

.title {
  font-size: var(--h1-wdh);
}

.subtitle {
  font-size: var(--h2-wdh);
}

.decor__text {
  font-family: var(--font-decor), sans-serif;
  text-transform: uppercase;
}

.card {
  max-inline-size: 700px;
  inline-size: 100%;
  position: relative;
  padding: 0;
  border: 2px solid #000;
  background: #ffffff;
  margin-block-start: 2px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-end: 51px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.card:last-child {
  margin-block-end: 0;
}

.card__title {
  padding: 2px 8px;
  margin: 0;
  font-family: var(--font-main);
  font-weight: 700;
  font-variation-settings: "wght" 700;
  font-size: 18px;
  line-height: 120%;
  color: #000;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.card__image-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
}

.card__texts {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-block-end: 14px;
}

.card__watermark {
  position: absolute;
  top: 27px;
  right: 27px;
  inline-size: 98px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  background: transparent;
  font-family: var(--font-accent);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-shadow: -1px -1px 0 var(--Themes-background, #ffffff),
    1px -1px 0 var(--Themes-background, #ffffff),
    -1px 1px 0 var(--Themes-background, #ffffff),
    1px 1px 0 var(--Themes-background, #ffffff);
}

@supports (-webkit-text-stroke: 1px) or (text-stroke: 1px) {
  .card__watermark {
    -webkit-text-stroke: 1px var(--Themes-background, #ffffff);
    text-stroke: 1px var(--Themes-background, #ffffff);
    text-shadow: none;
  }
}

article.card:nth-child(6) .card__watermark,
article.card:nth-child(7) .card__watermark,
article.card:nth-child(8) .card__watermark {
  top: 30px;
}

.card__image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin: 0;
  padding: 0;
}

.card__footer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-block-start: auto;
  margin-block-end: 25px;
  margin-inline-end: 24px;
  align-self: flex-end;
}

.card__text {
  font-family: var(--font-main);
  font-weight: 410;
  font-variation-settings: "wght" 410;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  color: #000;
  margin: 0;
  padding: 13px 23px;
  text-align: left;
  text-indent: 0;
  word-break: normal;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.card__image--bright {
  filter: brightness(1.2);
}

.card__image--dark {
  filter: brightness(0.7);
}

.card__image--saturate {
  filter: saturate(1.5);
}

.card__image--grayscale {
  filter: grayscale(0.8);
}

.card__image--hue {
  filter: hue-rotate(90deg);
}

.card__image--contrast {
  filter: contrast(1.3);
}

.card__image--sepia {
  filter: sepia(0.6);
}

.card__image--multiple {
  filter: brightness(1.1) contrast(1.2) saturate(1.3);
}

.dialog {
  display: none;
  padding: 0;
  border: none;
  background: transparent;
}

.dialog[open] {
  display: flex;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  inline-size: 353px;
  padding: 30px;
  border: 2px solid #000000;
  background: #fff;
  box-sizing: border-box;
}

.dialog__message {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
  color: var(--accent-color);
  fill: currentColor;
  display: block;
}

.dialog__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  text-align: left;
  max-inline-size: 239px;
}

.dialog__button {
  inline-size: 293px;
  block-size: 38px;
}

/* Кнопки Like, Сохранить на память, ОК */
.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 50px;
  margin-block-end: 100px;
}

/* Общий класс для всех кнопок */
.button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
  z-index: 0;
  will-change: transform;
}

.button:hover::before {
  transform: translateX(0);
}

.card__like-button,
.card__ok-button {
  gap: 10px;
  padding: 9px 17px;
  border: 2px solid var(--Themes-mainColor, #000000);
  background: var(--Themes-background, #ffffff);
}

.card__save-button {
  gap: 8px;
  inline-size: 335px;
  block-size: 55px;
  padding: 15px 20px;
  border: 2px solid #000000;
  background: var(--Themes-background, #ffffff);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button:focus,
.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--font-accent);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
  color: #ffffff;
  mix-blend-mode: difference;
}

.card__like-button.is-liked .button__text {
  font-size: 0;
  line-height: 90%;
  inline-size: 74px;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  right: auto;
  left: auto;
  text-align: center;
  z-index: 1;
  mix-blend-mode: difference;
}

.card__like-button.is-liked .button__text::before {
  content: "Unlike";
  font-size: 14px;
  display: inline-block;
  color: #ffffff;
  mix-blend-mode: difference;
}

.card__save-button .button__text {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
}

.card__ok-button {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
  text-transform: uppercase;
  box-shadow: none;
}

.card__ok-button .button__text {
  text-transform: uppercase;
}

.card__save-icon {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  color: #ffffff;
  mix-blend-mode: difference;
  fill: currentColor;
  display: block;
  inline-size: 21px;
  block-size: 21px;
}

.card__save-icon use {
  color: #ffffff;
  mix-blend-mode: difference;
  fill: currentColor;
}

/* Кнопка с сердцем */
.card__icon-button {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  max-inline-size: 38px;
  max-block-size: 38px;
}

.card__like-button:focus ~ .card__icon-button,
.card__icon-button:focus-visible,
.card__like-button:focus-visible ~ .card__icon-button {
  border-color: var(--accent-color);
  border-width: 2px;
}

/* Скрытый SVG спрайт */
svg.visually-hidden {
  display: none;
}

/* Иконка сердца */
.like-icon {
  transform-origin: center;
  inline-size: 39px;
  block-size: 36px;
  min-inline-size: 39px;
  min-block-size: 36px;
  background: transparent;
  color: var(--accent);
  flex-shrink: 0;
}

.sparks {
  opacity: 0;
  fill: var(--sparks);
}

.contour {
  fill: currentColor;
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.06s;
}

.like-icon:hover .main-body {
  fill: var(--accent);
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--accent);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--main-body);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--core);
  transition-delay: 0s;
}

.like-icon.is-liked {
  color: var(--contour-click);
}

.like-icon.is-liked .contour {
  fill: currentColor;
  transition-delay: 0s;
  transition-duration: 0.1s;
}

.like-icon.is-liked:hover .contour,
.like-icon.is-liked:active .contour {
  fill: currentColor;
}

.like-icon.is-liked .main-body {
  fill: var(--main-body);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked:hover .main-body,
.like-icon.is-liked:active .main-body {
  fill: var(--main-body);
}

.like-icon.is-liked .core {
  fill: var(--core);
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.like-icon.is-liked:hover .core,
.like-icon.is-liked:active .core {
  fill: var(--core);
}

.like-icon.is-liked .sparks,
.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 forwards;
  fill: var(--sparks);
  opacity: 0;
}

.like-icon.is-liked .heart,
.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in 0.1s 1;
}

@media (width <= 375px) {
  .header {
    max-inline-size: 375px;
    inline-size: 100%;
    padding: 120px 16px;
  }

  main {
    margin-block-start: 100px;
  }

  .card {
    max-inline-size: 375px;
    inline-size: 100%;
  }

  .card__title {
    inline-size: calc(100% - 4px);
    padding: 4px 10px;
    font-weight: 715;
    font-variation-settings: "wght" 715;
    vertical-align: middle;
  }

  .card__content {
    inline-size: 100%;
    gap: 4px;
  }

  .card__image-wrapper {
    order: 0;
  }

  .card__image {
    border-top-width: 2px;
    border-bottom-width: 2px;
  }

  .card__text {
    padding-block-start: 28px;
    padding-block-end: 0px;
  }

  .card__footer {
    margin-block-end: 26px;
    margin-inline-end: 23px;
    margin-block-start: 10px;
  }

  .card:not(:first-child) .card__content {
    margin-block-start: 0;
  }

  .card:not(:first-child) .card__image {
    position: static;
  }

  .card:not(:first-child) .card__texts {
    margin: 0;
    padding: 0;
  }

  .card:not(:first-child) .card__texts .card__text:not(:first-of-type) {
    margin-block-start: 16px;
    padding: 8px 25px 16px 23px;
  }

  .dialog__content {
    padding: 30px 36px;
    gap: 30px;
    max-inline-size: 341px;
  }

  .dialog__text {
    max-inline-size: 239px;
  }

  .dialog__button {
    inline-size: 261px;
  }
}

@media (width < 400px) {
  .dialog__content {
    padding: 30px 36px;
    gap: 30px;
    max-inline-size: 341px;
  }

  .card__watermark {
    right: 23px;
    top: 24px;
  }

  article.card:nth-child(6) .card__watermark,
  article.card:nth-child(7) .card__watermark,
  article.card:nth-child(8) .card__watermark {
    top: 30px;
  }

  .footer {
    justify-content: flex-start;
    margin-inline-start: 34.5px;
    margin-inline-end: 34.5px;
  }

  .card__save-button {
    flex-direction: column;
    inline-size: auto;
    min-inline-size: 306px;
    block-size: 84px;
    margin: 0;
  }

  .card__save-button .button__text {
    text-align: center;
  }

  .card__save-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
