/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /* Шрифты */
  --font-main: 'Inter', sans-serif;
  --font-accent: 'PressStart2P', fantasy;
  
  /* Веса шрифта для вариативного Inter */
  --font-weight-text: 400;
  --font-weight-title: 700;
  
  /* Фон страницы - множественный градиент */
  --background-gradient: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  
  /* Ширина контентного блока */
  --content-width: clamp(375px, 100%, 700px);
  --block-wdh: var(--content-width);
  
  /* Размеры шрифтов для заголовков */
  --h1-wdh: clamp(49px, 0.04923 * 100vw + 30.54px, 65px);
  --h2-wdh: clamp(14px, 0.02769 * 100vw + 3.62px, 23px);
  
  /* Цвета */
  --font-decor: var(--font-accent);
  
  /* Цвета для кнопок */
  --button-text-color: #fff;
  --accent-color: #000;
  --accent: #000;
  
  /* Цвета для иконки сердца */
  --contour-click: #ff0000;
  --main-body: #ff0000;
  --core: #ff0000;
  --sparks: #ff0000;
}